// @import 'mixins';
@import "variables";
// @import 'grayscale';
// @import 'breadcrumbs';
// @import 'icheck';
// @import 'print';
// @import 'bootstrap-select';
// @import 'datepicker3';
// @import 'tablesorter/blue/style';

body{
	padding-top: 120px;

  &.blank{
    background: #fff;
    color: #000;
    padding-top: 40px;



    h2, h3, h4{
      text-transform: none;
    }

    .header{
      .item{
        margin: 15px 0;
        vertical-align: middle;
      }
      font-size: 16px;
      b{
        width: 100px;
        line-height: 1;
        display: inline-block;
      }
      .box{
        margin-left: 30px;
        line-height: 25px;
        padding: 1px 20px;
        border: 3px solid #000;
        display: inline-block;
      }
    }
  
    ul.list-unstyled{
      font-size: 18px;
      li{
        padding-bottom: 10px;
        b{
          width: 250px;
          display: inline-block;
        }
      }
    }

    .underline{
      width: 100%;
      height: 30px;
      border-bottom: 3px solid #000;
    }

    .points{
      text-align: center;
      span{
        display: inline-block;
        text-align: center;
        font-size: 18px;
        width: 8%;
      }
    }

  }
}

.sg-editable-shortlist, .sg-editable-onshow, .sg-editable-premiere{
    display: none;
}


* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 150px; /* '.push' must be the same height as 'footer' */
}

