
@import 'bootstrap';

h1{
	margin-bottom: 40px;
	text-align: center;

	span{
		border-bottom: 1px solid @brand-primary;
		padding: 0 6px;
	}
}

.table.table-decorated > tbody{
	 tr{
		> th{
			background: @brand-primary;
			color: #fff;
			text-align: center;
			border: none;
			font-weight: normal

		}

		> td{
			text-align: center;
			vertical-align: middle;
			&.name{
			text-align: right;
			}
		}
	}
}


header{
	background: @brand-primary url(../images/head_pattern.png);
	color: #fff;
	h2{
		color: #fff;
		.clearfix;
		>b{
			font-size: 86px;
			line-height: 86px;
			display: block;
			float: left;
			font-weight: 900;
			.hidden-xs
		}
		span{
			float: left;
			display: block;
			font-size: 22px;
			line-height: 32px;
			@media (min-width: @screen-md) {
				padding-left: 20px;
				margin-left: 20px;
				border-left: 1px solid #fff;
			}

			b{
				display: block;
				float: none;
				font-size: 40px;
				line-height: 45px;
				font-weight: 700;
			}
		}
	}

	.date{
		text-align: left;
		@media (min-width: @screen-md) {
			text-align: right;
			span{
				display: block;
			}

		}

	}

}

.homepage-menu{
	background: @brand-primary;
	font-family: 'United Sans';
	padding: 15px 0;
	li{
		padding: 0 15px;
		font-size: 1.4em;
		a{
			color: #fff;
			border-bottom: 1px solid #fff;
			&:hover{
				background: darken(@brand-primary, 5%);
			}
		}

		&:last-child a{
			border: none;
		}

	}
}
.navbar-default .navbar-nav > li > a{
	font-size: 22px;
	font-weight: bold;
	font-family: 'United Sans';
}

.page-information{
	section{
		.make-row;
		margin-top: 20px;

		h3{
			.make-md-column(4);
			font-family: 'United Sans Cond';
			margin-top: 2em;
			color: @brand-primary;
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			@media (min-width: @screen-md) {
				text-align: right;
				margin-top: 0;
			}
		}

		.details{
			.make-md-column(8);
			text-align: center;
			@media (min-width: @screen-md) {
				text-align: left;
			}

		}


	}
}


.page-map{
	.nav{
		margin-bottom: 20px;
		li{
			h3{
				margin: 0;
				font-weight: bold;
				font-size: 18px;
			}

			small{
				color: @gray-light;
			}
		}
	}
}
footer{
	background: @brand-primary;
	color: #ffffff;
	margin-top: 80px;
	.footer-inner{
		background: url(../images/footer.png) no-repeat top center;
	}
}

