@import 'bootstrap';
//@import '../bootswatch/readable/variables';
//@import '../bootswatch/readable/bootswatch';
@import "variables";
@import 'breadcrumbs';
@import 'icheck';


body{
}

.container{
}

h1{
	margin-bottom: 40px;
	text-align: center;

	span{
		border-bottom: 1px solid @brand-primary;
		padding: 0 6px;
	}
}

.table.table-decorated > tbody{
	 tr{
		> th{
			background: #ddd;
			text-align: left;
			border: none;
			font-weight: normal

		}

		> td{
			text-align: left;
			vertical-align: middle;
			&.name{
			text-align: right;
			}
		}
	}
}


header{
	background: #fff;
	.container{
		background: transparent;
	}
	h2{
		.clearfix;
		>b{

			font-size: 86px;
			line-height: 86px;
			display: block;
			float: left;
			font-weight: 900;
			.hidden-xs
		}
		span{
			float: left;
			display: block;
			font-size: 22px;
			line-height: 32px;
			color: #000;
			@media (min-width: @screen-md) {
			}

			b{
				font-family: Bemio;
				display: block;
				float: none;
				font-size: 40px;
				line-height: 45px;
				font-weight: 700;
				color: @brand-primary;
			}
		}
	}

	.date{
		margin-top: 12px;
		text-align: left;
		@media (min-width: @screen-md) {
			text-align: right;
			span{
				display: block;
			}

		}

	}

}

.homepage-menu{
	// background: @brand-primary;
	// padding: 15px 0;
	// li{
	// 	padding: 0 15px;
	// 	font-size: 1.4em;
	// 	a{
	// 		color: #fff;
	// 		border-bottom: 1px solid #fff;
	// 		&:hover{
	// 			background: darken(@brand-primary, 5%);
	// 		}
	// 	}

	// 	&:last-child a{
	// 		border: none;
	// 	}

	// }
}
.navbar-default .navbar-nav > li > a{
	font-size: 20px;
}


.eventregistration-form{

	.room-table{
		tr.room{
			cursor: pointer;
			&:hover{
				background: #f5f5f5;
			}
			&.selected{
				background: @brand-primary;
				color: #fff;
			}

			td{
				text-align: left !important;
			}
		}
	}

	.help-block{
		font-size: 14px;
	}
}


.page-information{
	section{
		.make-row;
		margin-top: 20px;

		h3{
			.make-md-column(4);
			margin-top: 2em;
			color: @brand-primary;
			font-size: 24px;
			text-align: center;
			@media (min-width: @screen-md) {
				text-align: right;
				margin-top: 0;
			}
		}

		.details{
			.make-md-column(8);
			text-align: center;
			@media (min-width: @screen-md) {
				text-align: left;
			}

		}


	}
}


.page-map{
	.nav{
		margin-bottom: 20px;
		li{
			h3{
				margin: 0;
				font-weight: bold;
				font-size: 18px;
			}

			small{
				color: @gray-light;
			}
		}
	}
}
footer{
	background: @brand-primary;
	color: #ffffff;
	margin-top: 80px;
	.footer-inner{
	}
}