<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link href="http://localhost:3000/styles/styles.css" type="text/css" rel="stylesheet" media="all"/>
        {% endblock %}
    </head>
<body class="fb-post">


    {% block body %}{% endblock %}

</body>
</html>