{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EventRegistration edit</h1>
{{ form_errors(edit_form, { 'global_errors': true }) }}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('eventregistration') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
