{% extends '::admin.html.twig' %}

{% block body -%}
        <div class="col-sm-10  ">
        <h1><span>Regisztrációk</span></h1>
        {{ datatable_render_html(datatable) }}

        </div>
        <div class="col-sm-2">
            <div data-spy="affix" class="stat" data-offset-top="0">


            </div>
                 
        </div>



{% endblock %}



{% block javascripts %}
    {{ parent() }}
    {{ datatable_render_js(datatable) }}
    
{% endblock %}

