<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>





<h3>Hello {{ entity.getName }}!</h3>


Gratulálunk, bejutott a kliped a 04. Magyar Klipszemle műsorába.  <br>
Kérünk, október 1, kedd éjfélig töltsd fel a klipet erre a felületre: <br>

<br>
<b>
  <a href="https://www.dropbox.com/request/{{ entity.dropboxrequest }}">https://www.dropbox.com/request/{{ entity.dropboxrequest }}</a>
</b>
<br>
<br>


Törekedj arra, hogy a fellelhető legjobb formátumban küldd át. Tudjuk, hogy már nem a méret a lényeg.  <br>
Amenyiben több videóval neveztél, de a többiről nem küldtünk e-mailt, még nem feltétlen van okod az izgalomra, több adagban kérjük be a klipeket. <br>
<br>
 <br>Várunk október 10-én az Akváriumban! <br>
Kösz, ha hírét viszed: <br>
<a href="https://www.facebook.com/events/546573902761776/">https://www.facebook.com/events/546573902761776/</a> <br>
<br>
 <br>Üdv, <br>
a Szervezőség <br>

</body>
</html>

