<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>





<h3>Kedves {{ entity.getName }}!</h3>

<p>Köszönjük, megkaptuk a nevezésed a következő klippel:<b> {{ entity.getAuthor }}: {{ entity.getSongTitle }} </b><br>
A beérkező alkotásokból egy shortlistet állítunk össze, ezeket vetítjük le szeptember 29-30-án a Toldi Moziban. <br>Amennyiben alkotásod bejutott, külön levélben kérjük majd be a mű nagy felbontású file-ját.

</p>



<p>Minden jót, és várunk szeptemberben a Toldiban,<br>
Klipszemle szervezők<br>
</body>
</html>

