<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<h3>Tisztelt {{ entity.getName }}!</h3>

<p>Köszönjük jelentkezését a   Magyar Klipszemlére.
 </p>

<p>További kérdésekkel kapcsolatban az <a href="mailto:info@klipszemle.hu">info@klipszemle.hu</a>  e-mail címen állunk szíves rendelkezésedre.</p>



<p>Üdvözlettel: <br>
</body>
</html>

