{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <br><br><br><br><br>
    <h1>Gratulálunk!</h1>



    <p>Sikerült a nevezésed. Nézd meg gyorsan az e-mail fiókod, ott vár téged a visszaigazoló levél. Ha nem kaptad meg, akkor vedd fel velünk a kapcsolatot:  <a href="mailto:info.klipszemle@gmail.com">info.klipszemle@gmail.com</a></p>
        <p>Minden jót, és várunk a Klipszemlén 2019. október 10-én, az Akváriumban!</p>

    </div>
</div>

{% endblock %}
