{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <br><br><br><br><br>
    <h3><span>Köszönjük a regisztrációt! <br>Hamarosan jelentkezünk a megadott elérhetőségek valamelyikén!</span></h3>
    </div>
</div>

{% endblock %}
