<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>





<h3>Kedves {{ entity.getName }}!</h3>

<p>Köszönjük, megkaptuk a nevezésed a következő klippel:<b> {{ entity.getAuthor }}: {{ entity.getSongTitle }} </b><br>
A beérkező alkotásokból egy shortlistet állítunk össze, ezt vetítjük le 2018. október 11-én az Ankertben. <br>Ha az általad jelölt videó bejut, külön levélben kérjük majd be a klip file-ját.


</p>



<p>Minden jót, és várunk szeptemberben a Szemlén!<br><br>
Üdv: <br>A Klipszemle szervezők<br>
</body>
</html>

