{% extends "::base.html.twig" %}


{% block title %} – Zsűri Értékelés{% endblock %}

{% block body %}

<div class="container">


  <div class="panel-group rates" id="accordion">

    {% for cat in cats %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ cat.id }}">
            {{ cat.name }}</a>
            <span class="rate-percent"></span>
            <div class="rate-bar"></div>
          </h4>
        </div>
        <div id="collapse{{ cat.id }}" class="panel-collapse collapse">
          <div class="panel-body">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Dal</th>
                  <th>Legjobb klip</th>
                  <th>Zsűri különdíj</th>
                  <th>Értékelésem</th>
                  <th></th>
                </tr>
                {% for c in cat.eventRegistrationCategories %}
                  {% set video = c.eventregistration %}
                  {% include 'rate/_rate-row.html.twig' with {video: video} %}
                {% endfor %}

              </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{#   <div class="text-center">
    <button class="btn btn-danger btn-lg" data-href="{{ path('rate_finalize')}}" data-toggle="modal" data-target="#confirm-finalize">
        Lezárom az értékelést!
    </button>
  </div>
 #}



</div>
{% endblock %}

