{% extends "::base.html.twig" %}


{% block title %} – Zsűri Értékelés{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

<br>
<br>
<br>
<br>


  <ul class="nav nav-tabs" role="tablist">
    {% for cat,item in result %}
      <li class="">
          <a href="#tab-{{ loop.index }}" role="tab" data-toggle="tab">
              {{ cat }}
          </a>
      </li>
    {% endfor %}    
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    {% for cat,movies in result %}
      <div class="tab-pane fade" id="tab-{{ loop.index }}">
        <table class="table">
          <tr>
            <td>ID</td>
            <td></td>
            <td>YouTube</td>
            <td>Cím</td>
            <td>Értékelések száma</td>
            <td>Összpontszám</td>
            <td>Átlagpontszám</td>
            <td>Legjobb</td>
            <td>Különdíj</td>
            <td>Info</td>
          </tr>
          {% for video in movies %}
            {% include 'rate/_rate-list-row.html.twig' with {video: video} %}
          {% endfor %}

        </table>
      </div>
    {% endfor %}    


  </div>

</div>

{#   <div class="text-center">
    <button class="btn btn-danger btn-lg" data-href="{{ path('rate_finalize')}}" data-toggle="modal" data-target="#confirm-finalize">
        Lezárom az értékelést!
    </button>
  </div>
 #}


</div>
</div>
{% endblock %}

