{% extends '::base.html.twig' %}

{% block body -%}
    <h2 class="text-center">Sikeres feltöltés</h2>
    
    <p>Köszönjük a(z) <i>{{ entity.title }}</i> című előadásának feltöltését a  Magyar Gyermek-gasztroenterológiai Társaság V. Kongresszusára, melyet csatoltan küldünk PDF formátumban, illetve továbbítunk a Tudományos Bizottságnak. Döntésükről augusztus folyamán tájékoztatjuk.</p>

{% endblock %}
