@font-face {
    font-family: 'Agrandir Extra Wide';
    src: url('../fonts/hinted-Agrandir-ExtraWideBoldE5.woff2') format('woff2'),
        url('../fonts/hinted-Agrandir-ExtraWideBoldE5.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

