@font-face {
    font-family: 'PM Grotesk';
    src: url('../fonts/PMGrotesk-Bold.woff2') format('woff2'),
    url('../fonts/PMGrotesk-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

