{% block acccomodation_widget %}
    {% spaceless %}

            <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_label(child) }}
                    {{ form_widget(child) }}
                </li>
            {% endfor %}
            </ul>
    {% endspaceless %}
{% endblock %}
