@font-face {
  font-family: 'HelveticaNeueLT Pro 57 Cn';
  src: url('HelveticaNeueLTPro-BdCn.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLTPro-BdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLTPro-BdCn.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeueLTPro-BdCn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLTPro-BdCn.svg#bffb5927eebbaa6e5a3ea5ff13e3959d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bold;
}

@font-face {
  font-family: 'HelveticaNeueLT Pro 57 Cn';
  src: url('HelveticaNeueLTPro-Cn.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLTPro-Cn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLTPro-Cn.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeueLTPro-Cn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLTPro-Cn.svg#8b86ea0a7a98a4cc2a9374b3dde8522a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Bemio';
  src: url('Bemio.eot'); /* IE9 Compat Modes */
  src: url('Bemio.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Bemio.woff') format('woff'), /* Modern Browsers */
       url('Bemio.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Bemio.svg#9d2a4eb290336d11474fa9c7ba8f0b5b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
