footer {
    background: $black ;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    padding: 50px 0;
    p {
        margin: 0;
    }
    a{
    color: $white;
    text-decoration: none;
    }
}
