


    .video-item{
        &.video-item--fb-post{
            width: 1210px;
            height: 635px;
        }

        &.video-item--highlight{
            position: relative;
            display: block;
            img{
                
            }
        }
        overflow: hidden;

        background: $brand-primary;
        position: relative;
        font-weight: 900;
        @include clearfix;

        .share-btn {
            
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 50%;
            font-size: 0.8em;
            transform: translate(-50%, 10px)
        }

    }

    .video-item__image{

        position: relative;

        img{
            width: 100%;
            position: relative;
                        z-index: 4;
            .video-item--fb-post &{
                position: absolute;
                top: -130px;
            }
        }


    }


    .video-item--highlight .video-item__image{
        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;

        }

        img {
            mix-blend-mode: multiply;
        }

        &:hover img {
            mix-blend-mode: normal;
        }

    }


    .video-item__text-holder{
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        max-width: 100%;
        z-index: 5;
        .video-item--fb-post &{
            bottom: 220px;
            left: 20px;
        }
        .video-item--vote &{
            bottom: auto;
            top: 20px;
            left: 20px;
        }
    }

    .video-item__text{
        font-weight: 700;
        // white-space: nowrap;
        overflow: hidden;
        // text-overflow: ellipsis;
        margin: 0;
        max-width: 350px;
        display: block;
        float: left;
        clear: left;
        margin-right: 30px;
        padding: 5px 5px;
        line-height: 1em;
        background: $brand-secondary;
        color: white;
        .video-item--fb-post &{
            color: #fff;
            text-overflow: normal;
            white-space: nowrap;
            overflow: visible;
            max-width: none;
            padding: 10px 20px;
        }
        .video-item--vote &{
            text-overflow: none;
            max-width: none;
        }

        &--numvotes {
            color: $black;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 20;
        }
    }

    .video-item__text--cat{
        font-size: 8px;
        background:$brand-primary;
        color: black;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .video-item__text--song{
        font-size: 9px;
        background: $black;
        color: $white;
        font-weight: 900;
        margin-top: 0.3em;
        .video-item--fb-post &{
            color: black;
            font-size: 25px;
        }
        .video-item--vote &{
            font-size: 16px;
            @media(max-width:$screen-sm) {
                font-size: 12px;
                color: black;

            }

        }
    }
    .video-item__text--author{
        font-size: 17px;
        text-align: left;
        background: $white;
        color: $black;
        .video-item--fb-post &{
            font-size: 45px;
        }
        .video-item--vote &{
            font-size: 20px;
            margin-right: 4em;
            @media(max-width:$screen-sm) {
                font-size: 16px;
            }

        }
    }


    .video-item__headline{
        font-weight: 700;
        font-weight: bold;
        position: absolute;
        background: #fff;
        bottom: 120px; 
        width: 100%;
        padding: 20px 50px 25px;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        float: left;
    }

    .video-item__footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 25px;
        background: $brand-primary repeating-linear-gradient(289deg, 
          #fff, #fff 5em /* black stripe */, 
          transparent 0, transparent 10em /* blue stripe */
        );
        text-align: right;
        img{
            position: absolute;
            bottom: 25px;
            right: 25px;
            height: 80px;
            float: right;
        }
    }

    .video-item__btn{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        display: inline-block;
        padding: 5px 10px;
        background: $brand-primary;
        color: black;
        position: absolute;
        bottom: 20px;
        z-index: 20;
        &:hover{
            text-decoration: none;
            color: black;
        }
    }

    .video-item__btn--play{
        
        @media(max-width:$screen-sm) {
            font-size: 12px;
            padding: 5px 12px;

        }

        left: 20px;
    }
    .video-item__btn--vote{
        @media(max-width:$screen-sm) {
            font-size: 12px;
            padding: 5px 12px;

        }

        right: 20px;
        background: white;
        position: static;

    }
    .video-item__btn--already-vote{
        font-size: 1em;
        padding: 1em 2em;

        background: none;
        color: $white;

        position: static;

        &:hover{
            color: #fff;
        }
    }
    .video-item__btn--stop{
        right: 20px;
        font-size: 36px;
        padding: 0px 10px;
        height: 50px;
        width: 50px;
        top: 20px;
        bottom: auto;
        display: none;
        z-index: 15;

    }
    .video-item__btn--close{
        right: 20px;
        font-size: 36px;
        padding: 0px 10px;
        height: 50px;
        width: 50px;
        top: 20px;
        bottom: auto;
        z-index: 15;

    }

    #player{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        width: 100%;
        height: calc(100%);
    }


