{% extends '::admin.html.twig' %}

{% block body -%}
        <div class="col-sm-12  ">
        <h1><span>Shortlist</span></h1>
        {{ datatable_render_html(datatable) }}

        </div>


{% endblock %}



{% block javascripts %}
    {{ parent() }}
    {{ datatable_render_js(datatable) }}
    
{% endblock %}

