<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<p><strong>Szia {{row[0] }}!</strong></p>

<div>Ez egy eml&eacute;keztető mail, hogy holnap (cs&uuml;t&ouml;rt&ouml;k&ouml;n) GYERE EL A KLIPSZEMLE D&Iacute;J&Aacute;TAD&Oacute;J&Aacute;RA!</div>
<div>&nbsp;</div>
<div>Legk&eacute;sőbb: 2<span class="gmail_default">0</span>:00 Akv&aacute;rium klub NagyHall</div>
<div>&nbsp;</div>
<div>K&eacute;r&uuml;nk, hogy <strong>legal&aacute;bb egy OK-kal jelezz vissza, hogy ott leszel-e az esti d&iacute;j&aacute;tad&oacute;n!</strong></div>
<div>&nbsp;</div>
<div><strong><span style="color: #ff0000;">A bel&eacute;p&eacute;shez sz&uuml;ks&eacute;g lesz a v&eacute;detts&eacute;gi igazolv&aacute;nyodra &eacute;s a hozz&aacute;tartoz&oacute; szem&eacute;lyazonos&iacute;t&oacute; okm&aacute;nyra.</span></strong></div>
<div><br />Ha b&aacute;rmelyik nincs, vagy nincs n&aacute;lad, akkor az Akv&aacute;rium Klub protokollj&aacute;nak megfelelően <u>nem tudunk beengedni.</u></div>
<div><u>&nbsp;</u></div>
<div><u></u>Meg&eacute;rkez&eacute;sedkor&nbsp;elősz&ouml;r gyere az INFO PULT-hoz, ami az előt&eacute;rben a ruhat&aacute;r mellett lesz, ahol adunk karszalagot, passt &eacute;s italkupont. Ezt a k&ouml;rt ne hagyd ki!<u></u></div>
<div><br />A shortlistes klipeket kora d&eacute;lut&aacute;nt&oacute;l k&eacute;t helysz&iacute;nen vet&iacute;tj&uuml;k, a <a href="https://www.facebook.com/events/1014563086063029">r&eacute;szletes programot itt tal&aacute;lod</a>.</div>
<div><br />Mindenk&eacute;ppen <strong>hozd el magaddal a kateg&oacute;ria szempontj&aacute;b&oacute;l fontos alkot&oacute;(ka)t</strong> (pl. legjobb v&aacute;g&aacute;s -&gt; v&aacute;g&oacute;, legjobb rendez&eacute;s -&gt; rendező, legjobb operatőr -&gt; operatőr, &eacute;rted), &eacute;s az előad&oacute;k k&ouml;z&uuml;l is valakit. Ez az&eacute;rt fontos, mert shortlistes klipenk&eacute;nt maximum 3 db g&aacute;l&aacute;ra sz&oacute;l&oacute; karszalagot/passzot fogunk tudni nektek adni, ezekkel biztos a bejut&aacute;s, a t&ouml;bbieket szabad hely f&uuml;ggv&eacute;ny&eacute;ben tudjuk majd beengedni.<br /><br />
    Az al&aacute;bbi vide&oacute;d a legjobb 200 klip k&ouml;z&eacute; v&aacute;lasztott&aacute;k:<br /><strong>{{ row[2] }}</strong><br /><br />A k&ouml;vetkező kateg&oacute;ri&aacute;ban jutott d&ouml;ntőbe:<br /><strong>{{ row[3] }}</strong><br /><br />A t&ouml;bbi d&ouml;ntőst itt tudod &aacute;tbogar&aacute;szni:<br /><a href="https://klipszemle.com/hirek">https://klipszemle.com/hirek</a><br /><br />Holnap tali,<br />A Klipszemle szervezői</div>

</body>
</html>

