<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>





<h3>Hello {{ entity.getName }}!</h3>


<p>Köszönjük, megkaptuk a nevezésed a következő klippel:<b> {{ entity.getAuthor }}: {{ entity.getSongTitle }} </b></p>
<p>A zsűri szavazatai alapján áll össze a versenyprogram, ezt vetítjük le a rendezvényen. </p>
<p>Ha az általad nevezett klip bejut a vetítendők közé, külön levélben értesítünk a további teendőkről.</p>
<p>Figyeld az oldalunkat, mert a nevezés lezárása után indul a közönségszavazás!</p>
<p>Ha kérdeznél, elérsz minket az <a href="mailto:info.klipszemle@gmail.com">info.klipszemle@gmail.com</a> címen vagy a Facebook üzenetben: <a href="https://www.facebook.com/klipszemle">https://www.facebook.com/klipszemle</a> </p>



<p>Minden jót, és várunk a 05. Magyar Klipszemlén 2021. október 14-én, az Akváriumban!</p>
Üdv: <br>A szervezők<br>
</body>
</html>

