{% extends 'base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <br><br><br><br><br>
    <h1>Gratulálunk!</h1>



    <p>Sikerült a nevezésed. Nézd meg gyorsan az e-mail fiókod, ott vár a visszaigazoló levél. Ha nem kaptad meg néhány percen belül, és a spamben sem találod, akkor vedd fel velünk a kapcsolatot:
        <a href="mailto:info.klipszemle@gmail.com">info.klipszemle@gmail.com</a></p>
        <p>Minden jót, és várunk a Hajógyár x 06. Magyar Klipszemlén 2022. október 13-án, az Akváriumban!
        </p>

        <br><br><br><br>

        <iframe id="ytplayer" type="text/html" width="640" height="360"
          src="https://www.youtube.com/embed/{{ reg.ytId }}?autoplay=1"
          frameborder="0"></iframe>

    </div>
</div>

{% endblock %}
