<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="hu">
<head>
    <title></title>
</head>
<body>





<h3>Gratulálunk!</h3>


<p>Köszönjük, megkaptuk a nevezésed a következő klippel:<b> {{ entity.getAuthor }}: {{ entity.getSongTitle }} </b></p>
<p>Az előszűrés után, a zsűri szavazatai alapján áll össze a versenyprogram, ezt vetítjük le a rendezvényen.</p>

<p>Ha az általad nevezett klip bejut a vetítendők közé, külön levélben értesítünk a további teendőkről.</p>
<p>Figyeld az oldalunkat, mert a nevezés lezárása után indul a közönségszavazás!</p>
<p>Ha kérdeznél, elérsz minket az <a href="mailto:info.klipszemle@gmail.com">info.klipszemle@gmail.com</a> címen vagy a Facebook üzenetben: <a href="https://www.facebook.com/klipszemle">https://www.facebook.com/klipszemle</a> </p>



<p>Minden jót, és várunk a Hajógyár x 06. Magyar Klipszemlén 2022. október 13-án, az Akváriumban!
</p>
Üdv: <br>A szervezők<br>
</body>
</html>

