{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h3>Üdvözlünk "{{ app.user.email }}"!</h3>

    {% if app.user.eventRegistrations.count %}
        <p>Nevezett klipjeim:</p>

        <table class="table">
            {% for reg in app.user.eventRegistrations %}
                <tr>
                    <td>
                        {{ reg.songtitle }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}
    {% if is_granted('EVENTREGISTRATION_CREATE') %}
        <a href="{{ path('eventregistration_new') }}" class="btn btn-default">Klip nevezése</a>
    {% endif %}

</div>
{% endblock %}
