@font-face {
  font-family: 'Exo';
  src: url('../bundles/pixeloidapp/fonts/Exo-Bold.eot');
  src: url('../bundles/pixeloidapp/fonts/Exo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../bundles/pixeloidapp/fonts/Exo-Bold.woff') format('woff'), /* Modern Browsers */ url('../bundles/pixeloidapp/fonts/Exo-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../bundles/pixeloidapp/fonts/Exo-Bold.svg#3f3f0bfb70ac63058523d56f41b5ea01') format('svg');
  font-style: normal;
  font-weight: 700;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'Exo';
  src: url('../bundles/pixeloidapp/fonts/Exo-Light.eot');
  src: url('../bundles/pixeloidapp/fonts/Exo-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../bundles/pixeloidapp/fonts/Exo-Light.woff') format('woff'), /* Modern Browsers */ url('../bundles/pixeloidapp/fonts/Exo-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../bundles/pixeloidapp/fonts/Exo-Light.svg#d3f746777e18fc9f1c0cb1fc28ee1592') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'Exo';
  src: url('../bundles/pixeloidapp/fonts/Exo-Medium.eot');
  src: url('../bundles/pixeloidapp/fonts/Exo-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../bundles/pixeloidapp/fonts/Exo-Medium.woff') format('woff'), /* Modern Browsers */ url('../bundles/pixeloidapp/fonts/Exo-Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../bundles/pixeloidapp/fonts/Exo-Medium.svg#9611154d53964f16de2ae802b2261f0a') format('svg');
  font-style: normal;
  font-weight: 500;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'Exo';
  src: url('../bundles/pixeloidapp/fonts/Exo-Thin.eot');
  src: url('../bundles/pixeloidapp/fonts/Exo-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../bundles/pixeloidapp/fonts/Exo-Thin.woff') format('woff'), /* Modern Browsers */ url('../bundles/pixeloidapp/fonts/Exo-Thin.ttf') format('truetype'), /* Safari, Android, iOS */ url('../bundles/pixeloidapp/fonts/Exo-Thin.svg#0f8a6c32f2f2e546acdf934f4b322d3a') format('svg');
  font-style: normal;
  font-weight: 200;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
