{% extends "::post.html.twig" %}

{% block og_image %}
<meta property="og:image"
content="{{ app.request.getSchemeAndHttpHost() }}/{{ video.getPostImage }}" />
{% endblock %}


{% block body %}

	<div class="video-item video-item--fb-post">


		{% include 'PixeloidAppBundle:Vote:_video_list_item.html.twig' with {video: video, size: 'hqdefault'} only %}

		<div class="video-item__headline">
			Most tettem le a szavazatom a fenti klipre.
		</div>
	
		<footer class="video-item__footer">
			<img src="{{ app.request.getSchemeAndHttpHost() }}/images/klipszemle_logo.svg" class="" height="45" alt=""/>

		</footer>
	</div>

{% endblock %}

