@font-face {
    font-family: 'Avenir Bold';
    src: url('http://localhost:3000/fonts/AvenirNext-Bold.eot');
    src: url('http://localhost:3000/fonts/AvenirNext-Bold.eot?#iefix') format("embedded-opentype"), url('http://localhost:3000/fonts/AvenirNext-Bold.woff') format("woff"), url('http://localhost:3000/fonts/AvenirNext-Bold.ttf') format("truetype"), url('http://localhost:3000/fonts/AvenirNext-Bold.svg#92550229aad14ffa2dc273e49410d17e') format("svg");
    font-style: normal;
    font-weight: 700
}


body.fb-post {
    padding: 0;
    background: black;
    
    .post{
        width: 1210px;
        height: 635px;
        background: red;
        position: relative;
        overflow: hidden;
        font-weight: 900;

    }

    .post__image{
        img{
            width: 100%;
            position: absolute;
            top: -130px;
        }
    }

    .post__text{
        position: absolute;
        bottom: 220px;
        left: 20px;
    }
    .post__text__song{
        font-family: "Avenir Bold";
        white-space: nowrap;
        font-size: 35px;
        margin: 0;
        background: $brand-primary;
        display: inline-block;
        padding: 5px 20px;
    }
    .post__text__author{
        font-family: "Avenir Bold";
        white-space: nowrap;
        font-size: 45px;
        margin: 0;
        background: $brand-primary;
        display: inline-block;
        padding: 5px 20px;
    }
    .post__headline{
        font-family: "Avenir Bold";
        position: absolute;
        background: #fff;
        bottom: 120px; 
        width: 100%;
        padding: 20px 50px 25px;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 25px;
        background: $brand-primary repeating-linear-gradient(289deg, 
          #fff, #fff 5em /* black stripe */, 
          transparent 0, transparent 10em /* blue stripe */
        );
        text-align: right;
        img{
            height: 80px;
        }


    }

}
