footer {
    background: repeating-linear-gradient(289deg, 
      #fff, #fff 5em /* black stripe */, 
      transparent 0, transparent 10em /* blue stripe */
    );

    @media(min-width:$screen-sm) {
        background: repeating-linear-gradient(289deg, 
          #fff, #fff 10em /* black stripe */, 
          transparent 0, transparent 20em /* blue stripe */
        );

        background-color: $brand-primary ;
    }
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    padding: 50px 0;
    p {
        margin: 0;
    }
    a{
    color: black;
    text-decoration: none;
    }
}
