// @import 'mixins';
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import 'grayscale';
@import 'breadcrumbs';
@import 'font-awesome/scss/font-awesome';
@import 'awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss';
@import 'bootstrap-sass-datepicker/sass/datepicker';
@import 'bootstrap-select/sass/bootstrap-select';
@import 'nav';
@import 'footer';
@import 'video-list-item';
// @import 'datepicker3';
// @import 'tablesorter/blue/style';



@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Bold.eot');
  src: url('../fonts/AvenirNext-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/AvenirNext-Bold.woff') format("woff"), url('../fonts/AvenirNext-Bold.ttf') format("truetype"), url('../fonts/AvenirNext-Bold.svg#92550229aad14ffa2dc273e49410d17e') format("svg");
  font-style: normal;
  font-weight: 700
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-DemiBold.eot');
  src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format("embedded-opentype"), url('../fonts/AvenirNext-DemiBold.woff') format("woff"), url('../fonts/AvenirNext-DemiBold.ttf') format("truetype"), url('../fonts/AvenirNext-DemiBold.svg#a7885c27eda45e60a2a49ed9bc9ba53c') format("svg");
  font-style: normal;
  font-weight: 600
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Medium.eot');
  src: url('../fonts/AvenirNext-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/AvenirNext-Medium.woff') format("woff"), url('../fonts/AvenirNext-Medium.ttf') format("truetype"), url('../fonts/AvenirNext-Medium.svg#5ff54762f5b331a06e3ae1fbf17e8ff4') format("svg");
  font-style: normal;
  font-weight: 600
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Regular.eot');
  src: url('../fonts/AvenirNext-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/AvenirNext-Regular.woff') format("woff"), url('../fonts/AvenirNext-Regular.ttf') format("truetype"), url('../fonts/AvenirNext-Regular.svg#fe299bf9c71888f1da7b2c2d74973b56') format("svg");
  font-style: normal;
  font-weight: 400
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-UltraLight.eot');
  src: url('../fonts/AvenirNext-UltraLight.eot?#iefix') format("embedded-opentype"), url('../fonts/AvenirNext-UltraLight.woff') format("woff"), url('../fonts/AvenirNext-UltraLight.ttf') format("truetype"), url('../fonts/AvenirNext-UltraLight.svg#bdda6bf0cbb2275362361ca24e93166f') format("svg");
  font-style: normal;
  font-weight: 200
}

html, body {
  height: 100%;
}


body{
	padding-top: 100px;
  letter-spacing: 0.1em;
  position:relative;
  @media(min-width:768px) {
    padding-top: 90px;
  }

  &.fb-post {
      padding: 0;
      background: black;
  }

}
.btn{
  text-decoration: none;
  font-weight: 600;
}
body.modal-open {
    overflow: visible;
}

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -130px; 
}
.wrapper:after {
  content: "";
  display: block;
}
footer, .wrapper:after {
  height: 130px; 
}
footer {
}

.navbar-toggle{
  margin: 0;
  padding-bottom: 0;
}

.votes{
  @include clearfix;
  .voteitem{
    margin-top: $grid-gutter-width;
  }
}

.modal{
  background-color: rgba($brand-primary, 0.7);
}

.modal-content{
  background: $brand-primary;
  text-align: center;
}

.loader{
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 200px 0;
  font-weight: 600;
}

.share-btn{
  font-weight: 700;
  font-size: 1.4em;
  margin: 30px auto;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-facebook{
  @media(max-width:$screen-sm) {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    white-space: normal;
    i{
display: none;    }
  }


}





body{
  padding-top: 120px;

  &.blank{
    background: #fff;
    color: #000;
    padding-top: 40px;
    text-transform: uppercase;
    font-weight: 700;



    h2, h3, h4{
      text-transform: uppercase;
      font-size: 18px;

    }

    .header{
      .item{
        margin: 15px 0;
        vertical-align: middle;
      }
      font-size: 16px;
      b{
        width: 100px;
        line-height: 1;
        display: inline-block;
      }
      .box{
        margin-left: 30px;
        line-height: 25px;
        padding: 1px 20px;
        border: 3px solid #000;
        display: inline-block;
      }
    }
  
    ul.list-unstyled{
      font-size: 14px;
      li{
        padding-bottom: 10px;
        b{
          width: 250px;
          display: inline-block;
        }
      }
    }

    .underline{
      width: 100%;
      height: 30px;
      border-bottom: 1px solid #000;
    }

    .points{
      text-align: center;
      span{
        display: inline-block;
        text-align: center;
        font-size: 18px;
        width: 8%;
      }
    }

  }
}

.sg-editable-shortlist, .sg-editable-onshow, .sg-editable-premiere{
    display: none;
}

@media print {

  .break {page-break-before:always;}

  .container {
      width: auto !important;
  }

}


