<h3>
    Hello!
</h3>

<p>
    Ezt a levelet azért kapod, mert elindítottad a regisztrációd a Klipszemle x Hajógyár oldalon.

</p>
<p>
    Az e-mail címed megerősítésére és a regisztráció véglegesítésére mindenképp szükség van ahhoz, hogy klipet tudj nevezni.

</p>

<p>
    A regisztrációd véglegesítéséhez kattints ide: <br>
    <a href="{{ signedUrl }}">E-MAIL CÍM MEGERŐSÍTÉSE</a>


</p>

<p>
    Üdv: <br>
A szervezők
</p>


<b>
    Ha nem jelenik meg rendesen az “E-mail cím megerősítése” gomb, másold ki és illeszd be a böngészőbe ezt a webcímet:
    <br>
    {{ signedUrl }}

</b>

