{% extends 'base.html.twig' %}

{% block title %}Sikeres regisztráció{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h3 mb-3 font-weight-normal">Sikeres regiszráció</h1>
    <p>A megadott e-mail címre küldtünk egy megerősítő üzenetet. Kattints a linkre, és aktiváljuk a regisztrációdat.
    <b>Kérlek ellenőrizd a levélszemetet, és a promóciókat is!</b>
    </p>

</div>
    {% endblock %}
