{% extends 'base.html.twig' %}

{% block body %}

<h1><span>Fontos időpontok</span></h1>
   
   <div class="row page-important">
   		<div class="col-md-8">



   		</div>
   		<div class="col-md-4">
   		</div>
   </div>		

  
{% endblock %}