{% extends 'base.html.twig' %}

{% block body %}

<h1><span>Fontos időpontok</span></h1>
   <div class="text-center">
   <br><br><br><br>
   <h4>Absztrakt beküldési határidő:</h4>
   <p>2015. február 15.</p>
   	
   </div>
  
{% endblock %}