{% extends 'base.html.twig' %}
{% block body %}

<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="hero__content">
                    <h1>Lorem</h1>
                    <p>ipsum</p>
                    <a href="" class="btn btn-primary">Default button</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="https://via.placeholder.com/800" alt="" class="hero__image">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="https://via.placeholder.com/300x400" alt="" class="hero__image">
        </div>
        <div class="col-sm-12 col-md-6">
                         <h2>MI AZ A KLIPSZEMLE?</h2>
<p>            A kérdést, hogy mi a francért nincs itthon a zenei videóknak rendes, országos versenye, eloször 2015-ben tették fel maguknak a szervezők.</p>
<p>Ezután két éven át a budapesti Toldi Moziban rendezték meg a szemlét. Két napos, maratoni klipnézos népünnepek voltak. Egy év kihagyás után, a harmadik verseny tavaly, az Anker’tben volt.</p>
<p>Az évente változó, független zsuri újságírókból, filmesekbol és zenei szakemberekből állt össze. Egy díjat azonban mindig a közönség szavazott meg. A korábbi feltörekvo nyertesek jó része azóta Los Angelestől Szabadkáig filmes, reklámos, vagy kreatív szakember lett.</p>
<p>Most érkeztünk el a negyedikig, de a cél azóta se változott: legyen platform a hazai zenei videóknak, legyen tétje jó klipet csinálni, hadd nézzük meg oket egyszer nagyvásznon!</p>
        </div>
    </div>
</div>

 <section id="about" class="container content-section ">
    <div class="row">
        <div class="col-sm-12 col-md-6">
              <section id="jury" >
                         <h2>A ZSŰRI</h2>

                        <div class="row">
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                           <div class="col-md-4 col-sm-6 jury-person">
                               <img src="https://via.placeholder.com/200" alt="">
                               <p>Lorem ipsum</p>
                           </div>
                        </div>
             </section> 
        </div>

        <div class="col-sm-12 col-md-6">
            <img src="https://via.placeholder.com/400x700" alt="" class="hero__image">
        </div>

    </div>

</section>




{% endblock %}