{% extends 'base.html.twig' %}

{% block body %}
	
	<div class="row">
		<div class="col-md-8">
			<h1><span>Kedves Kollégák!</span></h1>
			<p>Örömmel értesítjük, hogy Mátraházán 2015. október 1-3. között kerül megrendezésre a Magyar Gyermek-gasztroenterológiai Társaság (MGYGT) V. Kongresszusa.

</p>

		</div>
		<div class="col-md-4">

		<div class="well">
		<h3>Fontos dátumok:</h3>
<p>			Kedvezményes regisztráció határideje:<br> <b>2015. augusztus 19.</b></p>
<p>			                               Absztrakt beadási határidő:<br> <b>2015. augusztus 20.</b></p>

		</div>	

		{% image 'http://files.mozgasvilag.hu/places/81111-Hotel.jpg'
		    filter='' %}
		    <img src="{{ asset_url }}" class="img-responsive" width="900" alt="Hotel Lifestyle Mátra"/>
		{% endimage %}
<hr>
			<!-- {{ knp_menu_render('PixeloidAppBundle:Builder:homepageMenu', {'currentClass': 'active', 'currentAsLink': true}) }} -->
		</div>
	</div>

	<hr>

{% endblock %}		


