{% extends 'base.html.twig' %}

{% block body %}
	
	<div class="text-center">
	<h1><span>Welcome!</span></h1>
	<p><b>European Society of Paediatric Clinical Research (ES-PCR)</b> is the traditional meeting of young researchers and their professors from different fields of pediatrics. On behalf of the Hungarian Conference Organizing Committee, we cordially invite you to the 24th Scientific Meeting of European Society of Paediatric Clinical Research (ES-PCR), which is organized by the <b>1st Dept of Pediatrics, Semmelweis University.</b></p>
	</div>

	<hr />

	<div class="row">
		<div class="col-md-8">
		{% image '@PixeloidAppBundle/Resources/public/images/EOK_kulso_este_slide.jpg'
		    filter='' output='/images/EOK_kulso_este_slide.jpg' %}
		    <img src="{{ asset_url }}" class="img-responsive" width="900" alt="EOK"/>
		{% endimage %}

		</div>
		<div class="col-md-4">
			{{ knp_menu_render('PixeloidAppBundle:Builder:homepageMenu', {'currentClass': 'active', 'currentAsLink': true}) }}
		</div>
	</div>

	<hr>

{% endblock %}		


