{% extends 'base.html.twig' %}

{% block body %}
	
	<div class="row">
		<div class="col-md-8">
			<h1><span>Kedves Kollégák!</span></h1>
			<p>Ezúton tisztelettel meghívjuk Önöket Kecskemétre, a Magyar Gyermekaneszteziológia és Intenzív Terápiás Társaság 2015. április 24-25-én rendezendő tudományos ülésére.</p>

		<p>A programot igyekeztünk úgy összeállítani, hogy hasznos legyen a gyermekaneszteziológiát és intenzív terápiát mindennap végző kollégák számára, ugyanakkor szeretnénk egy áttekintő képet nyújtani azon kollégák számára is, akiknek mindennapi munkájához szorosan nem tartozik hozzá egy gyermek altatása/érzéstelenítése, illetve a súlyos állapotú gyermek ellátása.</p>

		<p>A hagyományoktól eltérően külön szekciót szervezünk a szakdolgozók számára, illetve a tudományos ülés keretében workshopot tervezünk az egyre inkább térhódító UH vezérelt technikák (CV kanülálás, regionális anesztézia) megismertetése céljából.</p>

		<p>A kerekasztal beszélgetés keretében pedig a meghívott vendégekkel mindnyájunkat feszítő kérdésekre szeretnék választ találni.</p>

		<p>Reméljük, a mellékelt tervezett programot nem csak a társaságunk tagjai találják hasznosnak, hanem a csecsemő-és gyermekgyógyász, aneszteziológus, illetve a sürgősségi betegellátásban dolgozó kollégák is. 
		</p>

		</div>
		<div class="col-md-4">
		{% image '@PixeloidAppBundle/Resources/public/images/kecskemet_fourpoints.jpg'
		    filter='' %}
		    <img src="{{ asset_url }}" class="img-responsive" width="900" alt="EOK"/>
		{% endimage %}
<hr>
		{% image '@PixeloidAppBundle/Resources/public/images/kecskemet_fourpoints2.jpg'
		    filter='' %}
		    <img src="{{ asset_url }}" class="img-responsive" width="900" alt="EOK"/>
		{% endimage %}
<hr>
			<!-- {{ knp_menu_render('PixeloidAppBundle:Builder:homepageMenu', {'currentClass': 'active', 'currentAsLink': true}) }} -->
		</div>
	</div>

	<hr>

{% endblock %}		


