{% extends 'base.html.twig' %}

{% block body %}

<div class="page-information">
<h1><span>Általános információk</span></h1>


<section>
<h3>A rendezvény helyszíne: </h3>
<div class="details">Lifestyle Hotel Mátra – Mátraháza

 <br>GPS 47.852695, 19.972501</div>
</section>
<section>
	<h3>Tudományos információ:</h3>
	<div class="details">
		<b>Dr. Veres Gábor</b><br>
		habilitált egyetemi docens<br>
		I.Sz. Gyermekklinika, Semmelweis Egyetem, Budapest<br>
		<a href="http://www.gyermekklinika.hu" taget="_blank">www.gyermekklinika.hu</a><br>


	</div>
</section>

<section>
	<h3>Szervező bizottság:</h3>
	
	<div class="details">
		<ul class="list-unstyled">
			<li>Dr. Veres Gábor</li>
			<li>Dr. Dezsőfi Antal</li>

		</ul>
	</div>


</section>


<section>
<h3>Tudományos bizottság:</h3> 
<div class="details">
	<ul class="list-unstyled">
<li>	Dr. Veres Gábor</li>
<li>	Prof. Dr. Arató András</li>
<li>	Dr. Balogh Márta</li>
<li>	Dr. Bódi Piroska</li>
<li>	Dr. Csoszánszki Noémi</li>
<li>	Prof. Dr. Decsi Tamás</li>
<li>	Dr. Dezsőfi Antal</li>
<li>	Dr. Gárdos László</li>
<li>	Dr. Guthy Ildikó</li>
<li>	Dr. Korponay-Szabó Ilma</li>
<li>	Dr. Kovács Márta</li>
<li>	Dr. Lásztity Natália</li>
<li>	Dr. Nemes Éva</li>
<li>	Dr. Szőnyi László</li>
<li>	Dr. Tárnok András</li>
	</ul>
</div>
</section>

<section>
	<h3>Kutatási díj bírálóbizottság (Életműdíjasok):</h3>
	
	<div class="details">
		<ul class="list-unstyled">
<li>		Dr. B. Kovács Judit</li>
<li>		Dr. Bodánszky Hedvig</li>
<li>		Dr. Kósnai István</li>
<li>		Dr. Polgár Marianne</li>
<li>		Dr. Sólyom Enikő</li>
<li>		Dr. Schultz Károly</li>
<li>		Prof. Dr. Várkonyi Ágnes</li>

		</ul>
	</div>


</section>
<!-- <section>
	<h3>Szakmai információ:</h3>
	
	<div class="details">
		<p>Szentirmai Réka – <a href="mailto:reka.szentirmai@gmail.com">reka.szentirmai@gmail.com</a></p>
	</div>


</section>

 -->

<section>
	<h3>Kongresszusi iroda:</h3>
	<div class="details">
		<p><b>Mis & Bos Kft. – Szabó Bernadett</b></br>
		1149 Budapest, Pillangó park 7. fszt. 1-2.</p>
		<ul class="list-unstyled">
			<li>Tel.: +36 1 999 0780</li>
			<li>Fax: +36 1 700 1597</li>
			<li><a href="mailto:info@misandbos.hu">info@misandbos.hu</a></li>
			<li><a href="http://www.misandbos.hu" target="_blank">www.misandbos.hu</a></li>
		</ul>
	</div>
</section>

<section>
	<h3>Regisztráció, szállás:</h3>
	<div class="details">
		<p><b>Lupkovics Vanessa</b></br>
		1149 Budapest, Pillangó park 7. fszt. 1-2.</p>
		<ul class="list-unstyled">
			<li>Tel.: +36 1 999 0784</li>
			<li><a href="mailto:vanessa.lupkovics@misandbos.hu">vanessa.lupkovics@misandbos.hu</a></li>
		</ul>
	</div>
</section>

<section>
	<h3>Szponzoráció, kiállítás:</h3>
	<div class="details">
		<p><b>Veres Emese</b></br>
		<ul class="list-unstyled">
			<li>Tel.: +36 20 419-9219</li>
			<li><a href="mailto:emese.veres@misandbos.hu">emese.veres@misandbos.hu</a></li>
		</ul>
	</div>
</section>



</div>

{% endblock %}