{% extends 'base.html.twig' %}

{% block body %}

<div class="page-information">
<h1><span>Általános információk</span></h1>


<section>
<h3>A rendezvény helyszíne: </h3>
<div class="details">Kecskemét, Four Points by Sheraton </div>
</section>
<section>
	<h3>Fővédnök:</h3>
	<div class="details">
		<b>Dr. Nagy Anikó</b>, 
Heim Pál Gyermekkórház főigazgatója<br>
	</div>
</section>
<section>
<h3>Tudományos Bizottság:</h3> 
<div class="details">
	<ul class="list-unstyled">
<li>		Hauser Balázs</li>
<li>Hirsch Tibor</li>
<li>Katona Márta</li>
<li>Kövesi Tamás </li>
<li>Simon Gábor</li>
<li>Székely Andrea</li>
<li>Tóth-Heyn Péter</li>
<li>Ujhelyi Enikő</li>

	</ul>
</div>
</section>

<section>
	<h3>Szervező bizottság</h3>
	
	<div class="details">
		<ul class="list-unstyled">
			<li>Kiss Gabriella</li>
			<li>Szentirmai Réka</li>
			<li>Márai Katalin</li>
			<li>Koncz Ilona</li>
			<li>Ivády Balázs</li>
			<li>Schnur János</li>

		</ul>
	</div>


</section>
<section>
	<h3>Szakmai információ</h3>
	
	<div class="details">
		<p>Szentirmai Réka – <a href="mailto:szentirmai.reka@hotmail.com">szentirmai.reka@hotmail.com</a></p>
	</div>


</section>

<section>
	<h3>Kongresszusi iroda:</h3>
	<div class="details">
		<p><b>Mis & Bos Kft. – Szabó Bernadett</b></br>
		1149 Budapest, Pillangó park 7. fszt. 1-2.</p>
		<ul class="list-unstyled">
			<li>Tel.: +36 1 999 0780</li>
			<li>Fax: +36 1 700 1597</li>
			<li><a href="mailto:info@misandbos.hu">info@misandbos.hu</a></li>
			<li><a href="http://www.misandbos.hu" target="_blank">www.misandbos.hu</a></li>
		</ul>
	</div>


</section>
</div>

{% endblock %}