{% extends 'base.html.twig' %}

{% block body %}

<h1><span>Térkép</span></h1>
   
   <div class="row page-map">
   		<div class="col-md-8">
	   		<div id="map-canvas" style="width: 100%; height: 450px;"></div>




   		</div>
   		<div class="col-md-4">

<!--    		<ul class="nav nav-pills nav-stacked">
   			<li>
   				<h3>Venue</h3>
   			</li>
   			<li>
   				<a href="#">
   				  Basic Medical Science Center,<br>Semmelweis University, <br><small>Tűzoltó street 37-47, H-1094 Budapest </small>
   				</a>
   			</li>
   		</ul>

   		<ul class="nav nav-pills nav-stacked">
   			<li>
   				<h3>Social Event</h3>
   			</li>
   			<li>
   				<a href="#">
   					Nu – Bor és Bisztronómia<br><small>(H-1062 Budapet, Teréz krt. 55.)</small> 
   				</a>
   			</li>

   		</ul>

 -->
   			<ul class="nav nav-pills nav-stacked">
   			<li><h3>Helyszínek</h3></li>
            {% for acc in accomodations %}

            <li><a href="#">{{acc.name}} <br><small>({{acc.address}})</small></a></li>

            {% endfor %}

   			</ul>
            <h3>
            Távolságok:</h3>
<ul class="list-unstyled">
<li>Budapest: 90 km</li>
<li>Debrecen: 170 km</li>
<li>Szeged: 250 km</li>
<li>Eger: 50 km</li>
<li>Gyöngyös: 8 km</li>
<li>Kékestető: 5 km</li>
<li>Galyatető: 12 km</li>
<li>Mátraszentistván: 18 km</li>
</ul>
   		</div>
   </div>		

   <div class="row page-map">
   <br>
   <br>
      <div class="col-sm-12">
               <h3>Megközelíthetőség</h3>


               <h4>Budapest (90 km)</h4>
         <p>      M3-as autópályán Miskolc irányában a 70-es számú kijáratig (Gyöngyös), majd a 24-es úton haladva Gyöngyösön keresztül elérjük Mátraházát.
         </p>
              <h4> Debrecen (170 km)</h4>
         <p>      M35-ös és M3-as autópályán Budapest irányában a 78-as számú kijáratig (Gyöngyös-Kelet), majd a 24-es úton haladva Gyöngyösön keresztül elérjük Mátraházát.
         </p>
               <h4>Szeged (250 km)</h4>
         <p>      M5-ös autópályán Budapest, majd az M3-as autópályán Miskolc irányában a 70-es számú kijáratig (Gyöngyös), majd a 24-es úton haladva Gyöngyösön keresztül elérjük Mátraházát.
         </p>
               <h4>AUTÓBUSZ</h4>
          <p>     Budapest – Stadionok pályaudvarról naponta több alkalommal indul közvetlen járat Gyöngyös-Mátraháza felé. Az átlagos menetidő 1 óra 50 perc, javasolt leszállás Mátraháza, MÁV-üdülő megálló. A megálló kb. 200 méterre található a szállodától, a 24-es út mellett.
          </p>
               <h4>VONAT</h4>
          <p>     Budapest – Keleti pályaudvarról indul naponta több alkalommal Gyöngyös vasútállomásra személy- és sebesvonat, ahonnan helyi buszjárattal érhető el Mátraháza.
          </p>


      </div>
   </div>

  
{% endblock %}