{% extends 'base.html.twig' %}

{% block body %}

<h1><span>Map</span></h1>
   
   <div class="row page-map">
   		<div class="col-md-8">
	   		<div id="map-canvas" style="width: 100%; height: 600px;"></div>




   		</div>
   		<div class="col-md-4">

<!--    		<ul class="nav nav-pills nav-stacked">
   			<li>
   				<h3>Venue</h3>
   			</li>
   			<li>
   				<a href="#">
   				  Basic Medical Science Center,<br>Semmelweis University, <br><small>Tűzoltó street 37-47, H-1094 Budapest </small>
   				</a>
   			</li>
   		</ul>

   		<ul class="nav nav-pills nav-stacked">
   			<li>
   				<h3>Social Event</h3>
   			</li>
   			<li>
   				<a href="#">
   					Nu – Bor és Bisztronómia<br><small>(H-1062 Budapet, Teréz krt. 55.)</small> 
   				</a>
   			</li>

   		</ul>

 -->
   			<ul class="nav nav-pills nav-stacked">
   			<li><h3>Accomodation</h3></li>
            {% for acc in accomodations %}

            <li><a href="#">{{acc.name}} <br><small>({{acc.address}})</small></a></li>

            {% endfor %}

   			</ul>

   		</div>
   </div>		

  
{% endblock %}