{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h2>Adatvédelmi ismertető
</h2>


<p>A Toldi Malomkő Kft. (1054 Budapest, Bajcsy-Zsilinszky út 36-38.), mint adatkezelő és lebonyolító (a továbbiakban: Adatkezelő, Szervező és Lebonyolító) szervezi a “Magyar Klipszemle” megnevezésű versenyt (a továbbiakban: Verseny).
A Versenyben való részvétel és adatszolgáltatás önkéntes.</p>
					
<p>Az adatok kezelését és feldolgozását a Szervező végzi. A Verseny során a Pályázók alábbi adatait kezeljük:</p>
					
<ul><li>Teljes név</li>
<li>E-mail cím</li>
<li>Telefonszám</li>
<li>Postacím</li>
<li>Cégnév</li>
<li>Webcím</li>
<li>Gyártócég neve</li>
<li>Kiadó neve</li>
<li>A klip youtube linkje, hossza</li>
<li>Az előadó neve</li>
<li>A dal címe</li>
<li>A dal megjelenése</li>
<li>A klip megjelenése</li>
<li>A rendező neve</li>
<li>Az operatőr neve</li>
<li>A látványtervező neve</li>
<li>A vágó neve</li>
<li>A klip költégvetése</li>
<li>A rögzítés technikája</li>
</ul>
<p>A Pályázó a Versenyre történő jelentkezési lap kitöltésével kifejezetten hozzájárul ahhoz, hogy adatai a Szervező adatbázisába bekerüljenek és azokat a Szervező - esetleges tiltási nyilatkozat kézhezvételéig - a Verseny működtetése során, valamint a Versennyel összefüggésben azt követően is felhasználhassa. Harmadik félnek azt ki nem adja, kizárólag a Szemléhez kapcsolódó adminisztratív célra használja fel. 
					</p>					
<p>A Verseny során szolgáltatott személyes adatokat a Szervező a Pályázó a jelentkezés során kapott felhatalmazása alapján abból a célból kezeli és dolgozza fel, hogy a Verseny nyerteseit megállapítsa és értesítse. A Szervező szavatolja, hogy az adatkezelés a hatályos jogszabályi rendelkezések megtartásával történik. 
					</p>					
<p>A Szervező bármikor lehetőséget biztosít a Pályázónak arra, hogy az info@klipszemle.hu e-mail címen, vagy a Toldi Malomkő Kft., 1054 Budapest Bajcsy-Zsilinszky út 36-38. levelezési címen tájékoztatást kérjen személyes adatai kezeléséről, kérje azok törlését vagy helyesbítését. Ezenkívül a Pályázót megilleti a személyes adatai kezelése elleni tiltakozás joga is.
					</p>					
<p>Amennyiben a tiltakozás alapján a Szervező által meghozott döntéssel nem ért egyet, úgy a Pályázó bírósághoz fordulhat. A Pályázó a játékban adatait a valóságnak megfelelően, hiánytalanul adja meg. Amennyiben a Pályázó nem a valóságnak megfelelő adatokat ad meg, vagy az adatokat nem hiánytalanul adja meg, úgy az a Versenyből való kizárását vonhatja maga után.
</p>

</div>


{% endblock %}