{% extends 'base.html.twig' %}

{% block body %}


<h1><span>2015. április 24</span></h1>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate voluptatum nostrum reprehenderit sed, quisquam ipsa porro ut magni. Sit adipisci illum quidem qui officiis, iure omnis ipsa minus, praesentium?


<h1><span>2015. április 25</span></h1>


Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem deleniti, possimus mollitia ipsum at asperiores dicta aperiam perferendis quo, voluptatibus a nisi doloremque dolores aliquid earum velit provident voluptate inventore.<!-- <div class="row">
	<div class="col-sm-4 col-sm-offset-4">
	<a href="https://www.dropbox.com/s/z5dzso4yjnhjbaa/ESPCR_2014_24th_meeting_first_announcement.pdf?dl=1">
		{% image '@PixeloidAppBundle/Resources/public/images/espcr_first_announcment.jpg'
		    filter='' output='/images/espcr_first_announcment.jpg' %}
		    <img src="{{ asset_url }}" class="img-responsive"  alt="ESPCR First Announcment"/>
		{% endimage %}
	</a>
	</div>
</div>
 -->   
{% endblock %}