{% extends 'base.html.twig' %}

{% block body %}

<div class="page-program">
	<h3>Fő témák:</h3>
<ol><li>IBD korszerű kezelése, enterális- és biológiai terápia</li>
<li>Calprotectin helye a gasztroenterológiában</li>
<li>Az élet első 1000 napja és a nutríció</li>
<li>Gabonával kapcsolatos kórképek</li>
<li>Epeút-betegségek és az epekő</li>
<li>Divatos diéták evidenciája</li>
</ol></div>	
{% endblock %}