{% extends 'base.html.twig' %}

{% block body %}

<div class="page-program">
	
	<h1><span>2015. április 24. – Továbbképző nap</span></h1>
	<table class="table table-condensed">
	<tr><th>08:00 -		</th>	<td>	Érkezés, regisztráció</td></tr>
	<tr><th>08:00 – 09:00</th>	<td>Fogadó reggeli</td></tr>
	<tr><th>09:00 – 09:20</th>	<td>Köszöntő</td></tr>
	<tr><th>09:20 – 09:30</th>	<td>Szekció választás</td></tr>
	<tr><th>09:30 – 11:10</th>	<td>Anesztézia szekció<br><i>Üléselnök: Kiss Gabriella, Hauser Balázs</i></td></tr>
	<tr><th>09:30 – 09:50</th>	<td>Preoperatív kivizsgálás <i>Kövesi Tamás</i></td></tr>
	<tr><th>09:50 – 10:10</th>	<td>Perioperatív folyadék terápia és táplálás <i>Kiss Viktória</i></td></tr>
	<tr><th>10:10 – 10:30</th>	<td>Perioperatív fájdalomcsillapítás (preemptív analgézia, intraoperatív lehetőségek, korszerű posztoperatív fájdalomcsillapítás) <i>Hauser Balázs</i></td></tr>
	<tr><th>10:30 – 10:50</th>	<td>Intraoperatív monitorizálás – életkori sajátosságok <i>Székely Edgár</i></td></tr>
	<tr><th>10:50 – 11:10</th>	<td>Megbeszélés</td></tr>
	<tr><th>11:10 – 11:30</th>	<td>Kávészünet</td></tr>
	<tr><th>11:30 – 13:10</th>	<td>Intenzív szekció<br><i>Üléselnök: Ujhelyi Enikő, Fazakas János</i></td></tr>
	<tr><th>11:30 – 11:50</th>	<td>Folyadék terápia az intenzív osztályon <i>Liszkay Gábor</i></td></tr>
	<tr><th>11:50 – 12:10</th>	<td>Korszerű mesterséges táplálás <i>Ujhelyi Enikő</i></td></tr>
	<tr><th>12:10 – 12:30</th>	<td>Vérző beteg az intenzív osztályon és a műtőben -alvadás menedzsment <i>Fazakas János</i></td></tr>
	<tr><th>12:30 – 12:50</th>	<td>Immunszuprimált beteg az intenzív osztályon <i>Kriván Gergely</i></td></tr>
	<tr><th>12:50 – 13:10</th>	<td>Megbeszélés</td></tr>
	<tr><th>13:10 – 14:15</th>	<td>Ebéd</td></tr>


	</table>

	<h1><span>2015. április 24. – Tudományos ülés</span></h1>
	<table class="table table-condensed">

	<tr><th>08:00 -			</th><td>Érkezés, regisztráció</td></tr>
	<tr><th>08:00 – 09:00	</th><td>Fogadó reggeli</td></tr>
	<tr><th>09:30 – 11:10	</th><td>Szakdolgozói szekció</td></tr>
	<tr><th>09:30 – 09:45	</th><td>Etika és jog a gyermekintenzív osztályon <i>Deák Edit</i></td></tr>
	<tr><th>09:45 – 10:00	</th><td>Betegbiztonság az intenzív osztályon <i>Guti Tünde</i></td></tr>
	<tr><th>10:00 - 10:15	</th><td>Immunszuprimált beteg ápolása <i>Szalai Annamária</i></td></tr>
	<tr><th>10:15 – 10:30	</th><td>Szedálás az intenzív osztályon, szedációs score-ok <i>Mészáros Pál</i></td></tr>
	<tr><th>10:30 – 10:45	</th><td>Monitorozás az intenzív osztályon, ápolói feladatok <i>Sikó Laki Ivett</i></td></tr>
	<tr><th>10:45 – 11:10	</th><td>Megbeszélés</td></tr>
	<tr><th>11:10 – 11:30	</th><td>Kávészünet</td></tr>
	<tr><th>09:30 – 		</th>	<td>Mentő oktatópontok - oktatás-szituációs gyakorlat, 6 fős csoportokban. Előzetes jelentkezés alapján, érkezési sorrendben – max. 24 fő.
	<ol>
								<li>Transzport medicina - a szállításra történő felkészítés elmélete és gyakorlata</li>
								<li>Légzési elégtelenség sürgősségi ellátása</li>
								<li>Helyszíni trauma ellátás fő szempontjai</li>
								<li>Eszméletlen beteg – differenciál diagnosztika</li>
							</ol>
							</td></tr>

	<tr><th>13:10 – 14:15	</th><td>Ebéd</td></tr>
	<tr><th>14:15 – 15:40	</th><td>Kongresszusi megnyitó <br><i>Védnök: Nagy Anikó</i></td></tr>
	<tr><th>14:15 – 14:30	</th><td>Kerekasztal - Etika: életvégi döntési lehetőségek gyermekintenzív osztályon <br><i>Moderátor: Gárdos László</i></td></tr>
	<tr><th>14:30 – 14:40	</th><td>Probléma felvezetése</td></tr>
	<tr><th>14:40 – 15:40	</th><td>Megbeszélés</td></tr>
	<tr><th>15:40 – 16:00	</th><td>Kávészünet</td></tr>
	<tr><th>16:00 - 17:00	</th><td>Így szoktuk - Így ajánlják<br><i>Moderátor: Gárdos László</i></td></tr>
	<tr><th>16:00 – 16:10	</th><td>Keringéstámogatás <i>Székely Edgár</i></td></tr>
	<tr><th>16:10 – 16:20	</th><td>Görcscsillapítás <i>Szentirmai Réka</i></td></tr>
	<tr><th>16:20 – 16:30	</th><td>Ozmoterápia <i>Ivády Balázs</i></td></tr>
	<tr><th>16:30 – 16:40	</th><td>Vizelethajtás <i>Tóth-Heyn Péter</i></td></tr>
	<tr><th>16:40 – 17:00	</th><td>Megbeszélés</td></tr>
	<tr><th>17:00 – 17:30	</th><td>Közgyűlés</td></tr>
	<tr><th>20:00 -			</th><td>Vacsora</td></tr>
	</table>
	<h1><span>2015. április 25. </span></h1>

	<table class="table table-condensed">

	<tr><th>08:00 - 		</th><td>Regisztráció</td></tr>
	<tr><th>08:30 – 10:10	</th><td>Az elme védelme <br><i>Üléselnök: Székely Andrea, Vutskits László</i></td></tr>
	<tr><th>08:30 – 08:50	</th><td>Szuggesztió alkalmazása gyermekkorban <i>Varga Adrienn</i></td></tr>
	<tr><th>08:50 – 09:10	</th><td>Anesztézia és neurotoxicitás <i>Vutskits László</i></td></tr>
	<tr><th>09:10 – 09:30	</th><td>Hypotermia-normotermia <i>Hauser Balázs</i></td></tr>
	<tr><th>09:30 – 09:50	</th><td>Szedáció-leszoktatás-elvonási szindróma <i>Kiss Gabriella</i></td></tr>
	<tr><th>09:50 – 10:10	</th><td>Megbeszélés</td></tr>
	<tr><th>10:10 – 10:30	</th><td>Újdonságok az irodalomban</td></tr>
	<tr><th>10:10 – 10:20	</th><td>Anesztézia <i>Kövesi Tamás</i></td></tr>
	<tr><th>10:20 – 10:30	</th><td>Intenzív terápia <i>Gárdos László</i></td></tr>
	<tr><th>10:30 – 11:00	</th><td>Kávészünet</td></tr>
	<tr><th>10:30 –		</th><td>	Előre regisztrált UH oktatás (24 fő) Általános gyakorlati bevezető + fantom gyakorlási lehetőség. <br>Előzetes jelentkezés alapján, érkezési sorrendben – max. 24 fő.
					<ol>
						<li>CV kanülálás</li>
						<li>Fontosabb törzsön végezhető és alsó illetve felső végtagi blokkok</li>
					</ol> 
	</td></tr>
	<tr><th>11:00 – 11:20</th><td>	Gyermekaneszteziológia tankönyv bemutatása (Medicina)</td></tr>
	<tr><th>11:20 – 11:45</th><td>	Korszerű trauma ellátás <i>Csapody Marcell</i></td></tr>
	<tr><th>11:45 – 13:00</th><td>	Szabad előadások, poszterek <br><i>Üléselnök: Katona Márta, Szabó Éva</i></td></tr>
	<tr><th>13:00 – 14:00</th><td>	Ebéd</td></tr>
	<tr><th>14:00 – 16:00</th><td>	Szabad előadások, poszterek <br></i>Üléselnök: Mikos Borbála, Tálosi Gyula</i></td></tr>
	<tr><th>16:00 – 16:30</th><td>	Kávészünet</td></tr>
	<tr><th>16:30 – 17:00</th><td>	Eredményhirdetés, zárás</td></tr>
	</table>

</div>

{% endblock %}