{% extends 'base.html.twig' %}

{% block body %}
  <div class="content-section container">
    {% for i, post in posts %}
      {% if i > 0 %}
        <hr>
      {% endif %}
      <h4>{{ post.title }}</h4>
      {{ post.body|raw  }}
    {% endfor %}
  </div>
{% endblock %}
