{% extends 'base.html.twig' %}
{% block body %}
   <div class="container content-section">
      {% for g,group in faq %}
          <br>
          <br>
          <br>
         <h2>{{ g }}</h2>
            {% for item in group %}
                <div class="">
                    <h4 class="">
                        {{ item.question }}
                    </h4>
                    <p>{{ item.answer }}</p>

                </div>
            {% endfor %}
      {% endfor %}
   </div>
{% endblock %}
