{% extends 'base.html.twig' %}

{% block body %}

<div class="container content-section">
<h2>ADATKEZELÉSI TÁJÉKOZTATÓ
</h2>



    <p>A Magyar Klipszemle szervezős&eacute;ge a versenyben val&oacute; r&eacute;szv&eacute;telre nevez&eacute;skor megadott adatok adatkezelője, az adatokat k&uuml;lső partner vagy harmadik f&eacute;l r&eacute;sz&eacute;re nem teszi el&eacute;rhetőv&eacute;, publikuss&aacute; nem teszi. A versenyben való részvétel és adatszolgáltatás önkéntes, a nevező a szem&eacute;lyes adatait a szervez&eacute;shez sz&uuml;ks&eacute;ges adminisztr&aacute;ci&oacute;hoz, kapcsolatfelv&eacute;telhez &eacute;s -tart&aacute;shoz adja meg a szervezős&eacute;g sz&aacute;m&aacute;ra.</p>

    <p>A szervezők a verseny során a nevezők k&ouml;vetkező adatait kezelik: teljes név, e-mail cím, telefonsz&aacute;m, a nevezett klip YouTube-linkje, a klip megjelen&eacute;si d&aacute;tuma, az előad&oacute; neve, a dal c&iacute;me, a producer neve, a rendező neve, az operatőr neve, a l&aacute;tv&aacute;nytervező neve, a v&aacute;g&oacute; neve &eacute;s a klip k&ouml;lts&eacute;gvet&eacute;se.</p>

    <p>A nevez&eacute;s során kit&ouml;lt&ouml;tt személyes adatokat a szervezős&eacute;g a nevezők a jelentkezés során kapott felhatalmazása alapján abból a célból kezeli és dolgozza fel, hogy a versenyprogram &eacute;s a kieg&eacute;sz&iacute;tő blokkok vet&iacute;t&eacute;s&eacute;hez bek&eacute;rje, a nyerteseket a pontoz&aacute;sos zsűriz&eacute;si folyamat alapj&aacute;n megállapítsa és értesítse. A szervezős&eacute;g szavatolja, hogy az adatkezelés a hatályos jogszabályi rendelkezések megtartásával történik.&nbsp;</p>

    <p>A szervezők bármikor lehetőséget biztosítanak a nevezők sz&aacute;m&aacute;ra arra, hogy az info.klipszemle@gmail.com e-mail címen tájékoztatást kérjenek személyes adataik kezeléséről, kérj&eacute;k azok törlését vagy helyesbítését. Ezenkívül a nevezőket megilletik a személyes adataik kezelése elleni tiltakozás joga is. Amennyiben egy nevező a tiltakozás alapján a szervezők által meghozott döntéssel nem ért egyet, úgy bírósághoz fordulhat.&nbsp;</p>

    <p>A nevezők a játékban adataikat a valóságnak megfelelően, hiánytalanul adj&aacute;k meg. Amennyiben b&aacute;rmely nevező nem a valóságnak megfelelő adatokat ad meg, vagy az adatokat nem hiánytalanul adja meg, ezzel megg&aacute;tolva a szervezős&eacute;g esetleges kapcsolatfelv&eacute;teli igyekezet&eacute;t, illetve annak hat&aacute;ridőn t&uacute;li megval&oacute;sul&aacute;s&aacute;t, &uacute;gy tudom&aacute;sul k&ouml;teles venni, hogy az a versenyprogram vet&iacute;t&eacute;s&eacute;ből t&ouml;rt&eacute;nő kiz&aacute;r&aacute;s&aacute;t eredm&eacute;nyezheti.</p>

    <p>&nbsp;</p>

    <p><br />
        &nbsp;</p>




{% endblock %}
