{% extends 'base.html.twig' %}

{% block body %}

<div class="container content-section">
<h2>ADATKEZELÉSI TÁJÉKOZTATÓ
</h2>



<p>A Magyar Klipszemle szervezősége a versenyben való részvételre nevezéskor megadott adatok adatkezelője, az adatokat külső partner vagy harmadik fél részére nem teszi elérhetővé, publikussá nem teszi. A versenyben való részvétel és adatszolgáltatás önkéntes, a nevező a személyes adatait a szervezéshez szükséges adminisztrációhoz, kapcsolatfelvételhez és -tartáshoz adja meg a szervezőség számára.</p>
<p>A szervezők a verseny során a nevezők következő adatait kezelik: teljes név, e-mail cím, telefonszám, a nevezett klip YouTube-linkje, a klip megjelenési dátuma, az előadó neve, a dal címe, a producer neve, a rendező neve, az operatőr neve, a látványtervező neve, a vágó neve és a klip költségvetése.</p>
<p>A nevezés során kitöltött személyes adatokat a szervezőség a nevezők a jelentkezés során kapott felhatalmazása alapján abból a célból kezeli és dolgozza fel, hogy a versenyprogram és a kiegészítő blokkok vetítéséhez bekérje, a nyerteseket a pontozásos zsűrizési folyamat alapján megállapítsa és értesítse. A szervezőség szavatolja, hogy az adatkezelés a hatályos jogszabályi rendelkezések megtartásával történik. </p>
<p>A szervezők bármikor lehetőséget biztosítanak a nevezők számára arra, hogy az <a href="info.klipszemle@gmail.com">info.klipszemle@gmail.com</a> e-mail címen tájékoztatást kérjenek személyes adataik kezeléséről, kérjék azok törlését vagy helyesbítését. Ezenkívül a nevezőket megilletik a személyes adataik kezelése elleni tiltakozás joga is. Amennyiben egy nevező a tiltakozás alapján a szervezők által meghozott döntéssel nem ért egyet, úgy bírósághoz fordulhat. </p>
<p>A nevezők a játékban adataikat a valóságnak megfelelően, hiánytalanul adják meg. Amennyiben bármely nevező nem a valóságnak megfelelő adatokat ad meg, vagy az adatokat nem hiánytalanul adja meg, ezzel meggátolva a szervezőség esetleges kapcsolatfelvételi igyekezetét, illetve annak határidőn túli megvalósulását, úgy tudomásul köteles venni, hogy az a versenyprogram vetítéséből történő kizárását eredményezheti.</p>



{% endblock %}