<!DOCTYPE html>
<html>
    <head>
           <title>Hajógyár x 06. Magyar Klipszemle{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="Hajógyár x 06. Magyar Klipszemle"/>
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="hu_HU" />            <!-- Default -->
        <meta property="fb:app_id" content="{{ fb_app_id }}" />            <!-- Default -->
        
        {% block og_title %}
        <meta property="og:title" content="Hajógyár x 06. Magyar Klipszemle" />
        {% endblock %}

        {% block og_image %}
        <meta property="og:image"
        content="http://www.klipszemle.com/images/klipszemle_cover.jpg" />
        {% endblock %}

        {% block og_description %}
        <meta property="og:description" content="JELENTKEZÉS // ZSŰRI // MI EZ? // SZERVEZŐK // FAQ // STB." />
        {% endblock %}


        {% block og_url %}
        <meta property="og:url" content="http://www.klipszemle.com" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png?v2">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png?v2">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png?v2">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png?v2">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png?v2">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png?v2">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png?v2">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png?v2">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png?v2">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png?v2">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v2">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v2">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v2">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png?v2">
        <meta name="theme-color" content="#ffffff">


        {% block stylesheets %}
            <link href="/styles/styles.css" type="text/css" rel="stylesheet" media="all"/>
        {% endblock %}
    </head>
<body class="splash">
    <div id="fb-root"></div>

    
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '646741755492022',                        // App ID from the app dashboard
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>

<div class="splash__container">
    
<div class="splash__logo">
    <!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="242.68px" height="76.21px" viewBox="0 0 242.68 76.21" style="enable-background:new 0 0 242.68 76.21;"
         xml:space="preserve">
    <defs>
    </defs>
    <g>
        <g>
            <g>
                <polygon points="86.75,20.22 90.26,26.55 92.44,26.55 95.93,20.22 95.93,33.62 99.86,33.62 99.86,12.67 95.93,12.67 91.35,20.96 
                    86.75,12.67 82.84,12.67 82.84,33.62 86.75,33.62             "/>
                <path d="M108.04,24.49c-3.67,0.24-5.5,1.81-5.5,4.71c0,1.53,0.48,2.68,1.44,3.44c0.96,0.76,2.19,1.14,3.71,1.14
                    c1.29,0,2.46-0.4,3.51-1.21l0.06,1.03h3.59v-9.77c0-1.54-0.52-2.82-1.57-3.82c-1.05-1.01-2.47-1.51-4.26-1.51
                    c-1.41,0-2.66,0.37-3.76,1.11c-1.1,0.74-1.83,1.69-2.18,2.85l3.1,0.88c0.68-0.92,1.59-1.38,2.73-1.38c0.7,0,1.24,0.18,1.62,0.55
                    c0.38,0.37,0.57,0.9,0.57,1.59v0.19L108.04,24.49z M111.07,29.24c-0.71,0.75-1.67,1.12-2.89,1.12c-0.73,0-1.22-0.11-1.47-0.33
                    c-0.25-0.22-0.38-0.51-0.38-0.88c0-1.04,0.59-1.6,1.77-1.65l2.97-0.17V29.24z"/>
                <path d="M118.57,31.27c0.43,0.57,0.93,1.05,1.5,1.44c0.57,0.39,1.15,0.67,1.74,0.83c0.58,0.17,1.18,0.25,1.8,0.25
                    c1.17,0,2.23-0.35,3.18-1.05v0.79c0,0.89-0.24,1.59-0.72,2.1c-0.48,0.51-1.15,0.76-2.01,0.76c-1.33,0-2.36-0.61-3.09-1.82
                    l-3.31,0.85c0.41,1.39,1.17,2.47,2.28,3.25c1.11,0.78,2.46,1.16,4.05,1.16c1.98,0,3.57-0.59,4.76-1.76
                    c1.2-1.17,1.79-2.69,1.79-4.53V18.7h-3.58l-0.06,1.02c-0.89-0.8-1.96-1.21-3.22-1.21c-0.63,0-1.25,0.08-1.85,0.25
                    c-0.6,0.17-1.19,0.45-1.77,0.83c-0.58,0.39-1.08,0.87-1.51,1.44c-0.43,0.57-0.77,1.3-1.03,2.18c-0.26,0.88-0.39,1.86-0.39,2.93
                    c0,1.08,0.13,2.06,0.39,2.95C117.8,29.97,118.15,30.7,118.57,31.27z M121.2,24.05c0.17-0.58,0.41-1.02,0.71-1.31
                    c0.3-0.29,0.6-0.49,0.91-0.6c0.3-0.12,0.63-0.17,0.97-0.17c0.34,0,0.67,0.06,0.97,0.17c0.3,0.11,0.59,0.3,0.88,0.55
                    c0.28,0.25,0.52,0.62,0.73,1.11c0.2,0.48,0.34,1.06,0.43,1.73v1.82c-0.09,0.57-0.23,1.05-0.44,1.46
                    c-0.21,0.41-0.45,0.72-0.74,0.93c-0.29,0.22-0.58,0.37-0.88,0.47c-0.3,0.1-0.61,0.14-0.95,0.14c-0.35,0-0.68-0.06-0.98-0.17
                    c-0.3-0.11-0.6-0.32-0.9-0.6c-0.3-0.29-0.53-0.72-0.7-1.3c-0.17-0.58-0.26-1.28-0.26-2.11C120.94,25.34,121.02,24.63,121.2,24.05
                    z"/>
                <polygon points="134.81,39.65 138.65,39.65 146.3,18.7 142.23,18.7 139.24,27.7 136.26,18.7 132.2,18.7 137.29,32.67           "/>
                <path d="M152.12,24.49c-3.67,0.24-5.5,1.81-5.5,4.71c0,1.53,0.48,2.68,1.44,3.44c0.96,0.76,2.19,1.14,3.71,1.14
                    c1.29,0,2.46-0.4,3.51-1.21l0.06,1.03h3.59v-9.77c0-1.54-0.52-2.82-1.57-3.82c-1.05-1.01-2.47-1.51-4.26-1.51
                    c-1.41,0-2.66,0.37-3.76,1.11c-1.1,0.74-1.83,1.69-2.18,2.85l3.1,0.88c0.68-0.92,1.59-1.38,2.73-1.38c0.7,0,1.24,0.18,1.62,0.55
                    c0.38,0.37,0.57,0.9,0.57,1.59v0.19L152.12,24.49z M155.15,29.24c-0.71,0.75-1.67,1.12-2.89,1.12c-0.73,0-1.22-0.11-1.47-0.33
                    c-0.25-0.22-0.38-0.51-0.38-0.88c0-1.04,0.59-1.6,1.77-1.65l2.97-0.17V29.24z"/>
                <path d="M165.86,25.38c0.31-2.06,1.22-3.09,2.74-3.09c0.54,0,1.05,0.09,1.55,0.26l0.36-3.91c-0.45-0.09-0.91-0.13-1.38-0.13
                    c-1.3,0-2.43,0.49-3.39,1.48l-0.06-1.29h-3.59v14.92h3.77V25.38z"/>
                <polygon points="86.75,62.36 86.75,54.72 87.93,53.38 94.72,62.36 99.41,62.36 90.43,50.59 98.65,41.41 93.73,41.41 86.75,49.3 
                    86.75,41.41 82.84,41.41 82.84,62.36             "/>
                <polygon points="110.3,59.04 107.41,59.04 107.41,41.41 100.8,41.41 100.8,44.73 103.65,44.73 103.65,59.04 100.8,59.04 
                    100.8,62.36 110.3,62.36             "/>
                <polygon points="118.36,47.45 111.75,47.45 111.75,50.77 114.59,50.77 114.59,59.04 111.75,59.04 111.75,62.36 121.25,62.36 
                    121.25,59.04 118.36,59.04           "/>
                <path d="M114.09,43.61c0,0.66,0.23,1.23,0.69,1.7c0.47,0.46,1.03,0.69,1.7,0.69c0.66,0,1.22-0.23,1.69-0.7
                    c0.46-0.46,0.7-1.03,0.7-1.69c0-0.66-0.23-1.22-0.7-1.68c-0.47-0.46-1.03-0.69-1.69-0.69c-0.66,0-1.22,0.23-1.69,0.69
                    C114.32,42.39,114.09,42.95,114.09,43.61z"/>
                <path d="M126.85,48.47l-0.06-1.02h-3.59V68.4h3.77v-6.91c0.95,0.7,2.01,1.05,3.18,1.05c0.61,0,1.21-0.08,1.8-0.25
                    c0.59-0.17,1.17-0.45,1.74-0.83c0.57-0.39,1.07-0.87,1.5-1.44c0.43-0.57,0.78-1.3,1.04-2.18c0.26-0.88,0.39-1.86,0.39-2.95
                    c0-1.07-0.13-2.05-0.39-2.93c-0.26-0.88-0.61-1.61-1.04-2.18c-0.43-0.57-0.93-1.05-1.51-1.44c-0.57-0.39-1.16-0.67-1.77-0.83
                    c-0.6-0.17-1.22-0.25-1.85-0.25C128.81,47.26,127.74,47.66,126.85,48.47z M131.86,51.48c0.3,0.29,0.54,0.72,0.71,1.3
                    c0.17,0.58,0.26,1.28,0.26,2.11c0,0.67-0.06,1.26-0.18,1.78c-0.12,0.52-0.27,0.92-0.46,1.22c-0.19,0.3-0.41,0.54-0.68,0.73
                    c-0.26,0.19-0.52,0.32-0.75,0.38c-0.24,0.06-0.49,0.09-0.76,0.09c-0.73,0-1.37-0.27-1.94-0.82c-0.57-0.55-0.93-1.47-1.09-2.77
                    v-1.83c0.09-0.56,0.23-1.03,0.44-1.44c0.21-0.4,0.45-0.71,0.73-0.93c0.28-0.22,0.57-0.37,0.86-0.47c0.29-0.1,0.61-0.14,0.94-0.14
                    c0.36,0,0.7,0.06,1.01,0.17C131.26,51,131.56,51.2,131.86,51.48z"/>
                <path d="M149.14,55.4c-0.24-0.3-0.53-0.58-0.89-0.85c-0.36-0.26-0.73-0.48-1.1-0.66c-0.37-0.18-0.81-0.36-1.31-0.54l-0.96-0.35
                    c-0.9-0.32-1.5-0.55-1.8-0.71c-0.3-0.16-0.45-0.36-0.45-0.61c0-0.28,0.15-0.51,0.45-0.7c0.3-0.19,0.65-0.28,1.06-0.28
                    c0.87,0,1.56,0.57,2.06,1.71l3.29-0.86c-0.37-1.42-1.02-2.49-1.94-3.21c-0.92-0.72-2.06-1.09-3.41-1.09
                    c-1.52,0-2.79,0.42-3.79,1.26c-1.01,0.84-1.51,1.92-1.51,3.26c0,0.51,0.09,0.97,0.26,1.39c0.17,0.42,0.38,0.77,0.61,1.04
                    c0.24,0.27,0.55,0.54,0.96,0.79c0.4,0.25,0.75,0.45,1.05,0.57c0.3,0.13,0.68,0.28,1.15,0.47l1.09,0.4
                    c0.8,0.31,1.34,0.56,1.63,0.75c0.29,0.2,0.44,0.45,0.44,0.75c0,0.36-0.18,0.65-0.53,0.85c-0.35,0.2-0.8,0.3-1.35,0.3
                    c-1.25,0-2.17-0.61-2.77-1.83l-3.29,0.85c0.82,2.94,2.81,4.41,5.96,4.41c1.08,0,2.06-0.17,2.93-0.5
                    c0.87-0.34,1.58-0.86,2.12-1.58c0.54-0.72,0.81-1.58,0.81-2.59c0-0.51-0.07-0.97-0.21-1.39C149.57,56.06,149.38,55.7,149.14,55.4
                    z"/>
                <polygon points="151.78,50.77 158.11,50.77 151.47,59.69 151.47,62.36 162.96,62.36 162.96,59.04 156.38,59.04 162.96,50.23 
                    162.96,47.45 151.78,47.45           "/>
                <path d="M167.37,48.34c-0.59,0.39-1.1,0.87-1.52,1.45c-0.43,0.58-0.77,1.31-1.03,2.19c-0.26,0.88-0.39,1.87-0.39,2.96
                    c0,1.34,0.19,2.52,0.57,3.52c0.38,1.01,0.9,1.8,1.55,2.37c0.66,0.57,1.38,1,2.18,1.28c0.8,0.28,1.66,0.42,2.59,0.42
                    c1.51,0,2.84-0.39,3.97-1.16c1.13-0.77,1.89-1.86,2.27-3.26l-3.29-0.85c-0.73,1.22-1.74,1.83-3.03,1.83
                    c-1.69,0-2.66-0.97-2.92-2.92h9.6v-1.26c0-1.08-0.13-2.06-0.39-2.95c-0.26-0.88-0.6-1.61-1.03-2.18
                    c-0.43-0.57-0.93-1.06-1.52-1.44s-1.19-0.67-1.83-0.83c-0.63-0.17-1.29-0.25-1.98-0.25c-0.69,0-1.35,0.08-1.98,0.25
                    C168.57,47.68,167.96,47.96,167.37,48.34z M171.17,50.71c1.44,0,2.34,0.82,2.7,2.47h-5.48
                    C168.79,51.53,169.72,50.71,171.17,50.71z"/>
                <path d="M184.17,53.41c0.15-1.01,0.43-1.71,0.83-2.11c0.4-0.4,0.85-0.6,1.35-0.6c0.24,0,0.47,0.04,0.7,0.13
                    c0.22,0.09,0.45,0.24,0.68,0.45c0.23,0.21,0.41,0.53,0.55,0.96c0.14,0.43,0.21,0.95,0.21,1.55v8.57h3.77v-8.95
                    c0.3-1.8,1.03-2.7,2.21-2.7c0.24,0,0.47,0.04,0.7,0.13c0.23,0.09,0.46,0.24,0.69,0.45c0.24,0.21,0.42,0.53,0.56,0.96
                    c0.14,0.43,0.21,0.95,0.21,1.55v8.57h3.77v-8.79c0-0.9-0.11-1.72-0.33-2.45c-0.22-0.73-0.51-1.33-0.86-1.8
                    c-0.35-0.47-0.77-0.86-1.26-1.18c-0.48-0.32-0.97-0.54-1.47-0.68c-0.49-0.13-1-0.2-1.53-0.2c-1.51,0-2.92,0.55-4.21,1.65
                    c-0.94-1.1-2.15-1.65-3.62-1.65c-1.06,0-2.08,0.4-3.06,1.21L184,47.45h-3.59v14.92h3.77V53.41z"/>
                <polygon points="211.98,59.04 209.09,59.04 209.09,41.41 202.48,41.41 202.48,44.73 205.33,44.73 205.33,59.04 202.48,59.04 
                    202.48,62.36 211.98,62.36           "/>
                <path d="M215.23,60.84c0.66,0.57,1.38,1,2.18,1.28c0.8,0.28,1.66,0.42,2.59,0.42c1.51,0,2.84-0.39,3.97-1.16
                    c1.13-0.77,1.89-1.86,2.27-3.26l-3.29-0.85c-0.73,1.22-1.74,1.83-3.03,1.83c-1.69,0-2.66-0.97-2.92-2.92h9.6v-1.26
                    c0-1.08-0.13-2.06-0.39-2.95c-0.26-0.88-0.6-1.61-1.03-2.18c-0.43-0.57-0.93-1.06-1.52-1.44c-0.58-0.39-1.19-0.67-1.83-0.83
                    c-0.63-0.17-1.29-0.25-1.98-0.25c-0.69,0-1.35,0.08-1.98,0.25c-0.63,0.17-1.24,0.45-1.82,0.83c-0.59,0.39-1.1,0.87-1.52,1.45
                    c-0.43,0.58-0.77,1.31-1.03,2.19c-0.26,0.88-0.39,1.87-0.39,2.96c0,1.34,0.19,2.52,0.57,3.52
                    C214.06,59.48,214.57,60.27,215.23,60.84z M219.85,50.71c1.44,0,2.34,0.82,2.7,2.47h-5.48
                    C217.47,51.53,218.39,50.71,219.85,50.71z"/>
                <path d="M235.38,0H7.3H0v7.3v61.62v7.3h7.3h228.09h7.3v-7.3V7.3V0H235.38z M7.3,7.3h60.67v61.62H7.3V7.3z M235.38,68.91H75.26
                    V7.3h160.12V68.91z"/>
            </g>
            <g>
                <path d="M27.75,27.9c0.82,0,1.61,0.11,2.37,0.34c0.76,0.23,1.49,0.61,2.2,1.14c0.71,0.53,1.32,1.2,1.84,2
                    c0.52,0.8,0.94,1.8,1.25,3.02c0.31,1.22,0.47,2.58,0.47,4.1c0,1.52-0.16,2.88-0.47,4.1c-0.31,1.22-0.73,2.22-1.25,3.02
                    c-0.52,0.8-1.13,1.46-1.84,2c-0.71,0.53-1.44,0.92-2.2,1.14c-0.76,0.23-1.55,0.34-2.37,0.34c-0.83,0-1.62-0.11-2.38-0.34
                    c-0.76-0.23-1.49-0.61-2.2-1.14c-0.71-0.53-1.32-1.2-1.83-2c-0.52-0.8-0.93-1.8-1.24-3.02c-0.31-1.22-0.47-2.58-0.47-4.1
                    c0-1.52,0.16-2.88,0.47-4.1c0.31-1.22,0.72-2.22,1.24-3.02c0.52-0.8,1.13-1.46,1.83-2c0.71-0.53,1.44-0.92,2.2-1.14
                    C26.12,28.01,26.92,27.9,27.75,27.9z M23.83,41.61l6.04-9.54c-0.5-0.41-1.2-0.62-2.12-0.62c-0.42,0-0.81,0.06-1.18,0.16
                    c-0.37,0.11-0.74,0.32-1.12,0.64c-0.38,0.32-0.7,0.73-0.97,1.24c-0.27,0.51-0.48,1.2-0.65,2.06c-0.17,0.86-0.25,1.85-0.25,2.98
                    C23.58,39.65,23.66,40.68,23.83,41.61z M25.87,45.07c0.49,0.31,1.11,0.46,1.87,0.46c0.41,0,0.8-0.05,1.16-0.16
                    c0.36-0.11,0.73-0.32,1.11-0.64c0.38-0.31,0.7-0.72,0.97-1.22c0.27-0.5,0.49-1.18,0.67-2.03c0.17-0.85,0.26-1.84,0.26-2.97
                    c0-1.04-0.07-1.93-0.2-2.66L25.87,45.07z"/>
                <path d="M37.76,44.74v-2.55l8-14.12h3.94v13.31h2.19v3.36H49.7v4.19h-3.91v-4.19H37.76z M42.49,41.38h3.31v-5.84L42.49,41.38z"/>
                <path d="M54.61,46.76c0-0.62,0.21-1.15,0.64-1.59c0.43-0.44,0.96-0.66,1.58-0.66c0.61,0,1.13,0.22,1.57,0.66
                    c0.44,0.44,0.66,0.97,0.66,1.59c0,0.63-0.22,1.16-0.65,1.59c-0.43,0.43-0.96,0.64-1.58,0.64c-0.63,0-1.16-0.21-1.58-0.64
                    C54.82,47.92,54.61,47.39,54.61,46.76z"/>
            </g>
        </g>
    </g>
    </svg>

</div>

<div class="splash-text">
    <h1>negyedik <br> is lesz.</h1>
    <div class="splash-text__info">
{#         <p><span>2019.</span> <span>OKTÓBER 10.</span></p>
        <div class="sep"></div>
        <p><span>AKVÁRIUM</span> <span>KLUB</span></p>
 #}    </div>
</div>
</div>

<script type="text/javascript" src="/libs/vendor.js"></script>



{% block javascripts %}{% endblock %}

<script type="text/javascript" src="/scripts/app.js"></script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2124136-46', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
