{% extends "base.html.twig" %}


{% block title %} – Közönségszavazás{% endblock %}

{% block body %}


{% if not is_granted('ROLE_USER')  %}

<div class="row">	
<div class="col-md-4 col-md-offset-4 text-center">
    <div class="">
        <a class="btn btn-primary btn-social btn-lg btn-facebook" href="{{ hwi_oauth_login_url('facebook') }}">
            <i class="fas fa-facebook"></i> A szavazáshoz lépj be Facebookkal itt!
        </a>
    </div>
</div>
</div>

        {% endif %}
        <div class="votes">

	{% for video in videos %}

		<div class="col-lg-3 col-md-4 col-sm-6 voteitem" id="video-{{ video.id }}">
			<a href="{{path('vote_show', {'id' : video.id})}}" class="show-video" data-id="{{ video.id }}" >
			<span class="video-item video-item--highlight">
			{% include 'Vote/_video_list_item.html.twig' with {video: video, size: 'hqdefault'} only %}
			</span>
			</a>
		</div>    

	{% endfor %}
	
</div>


	<div id="modal"></div>

{% endblock %}

{% block javascripts %}

<script>

</script>

{% endblock %}
