
{% block body %}

		<div class="video-item video-item--vote" data-current-id="{{ video.id }}">
			<div id="player" data-video-id="{{ video.ytId }}">			</div>

				{% include 'Vote/_video_list_item.html.twig' with {video: video, size: 'hqdefault'} only %}
			<a href="#" class="video-item__btn video-item__btn--play">Lejátszom</a>


			<a href="#" class="video-item__btn video-item__btn--close"><i class="fas fa-times" aria-hidden="true"></i></a>

		{#	<a href="#" class="btn btn-primary share-btn">Megosztom Facebookon!</a>
#}


		</div>
	{% if not is_granted('EVENTREGISTRATION_VOTE') %}

				<h4>
					Szavazás csak azonosított felhasználók számára lehetséges!
				</h4>
					<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="fb btn">
            <span>
            <i class="fab fa-facebook-f"></i>
            </span>
						Lépj be Facebookkal!
					</a>

	{% else %}
		{% if  alreadyVoted %}
			<span class="video-item__btn  video-item__btn--already-vote">Már szavaztál erre a klipre</span>
		{% else %}
			<a href="{{path('vote_vote', {'id' : video.id})}}" class="video-item__btn video-item__btn--vote">Szavazok erre a klipre!</a>
		{% endif %}
	{% endif %}


{% endblock %}

