{% extends "::base.html.twig" %}


{% block body %}

<div class="container">
	<h2>Toplista</h2>
	<table class="table">
	{% for item in votes %}
		<tr>
			<td>{{ item[0].author }} – {{ item[0].songtitle }} </td>
			<td>{{ item.numvote }}</td>
		</tr>
	{% endfor %}
	</table>
	
</div>
{% endblock %}
