{% extends "::base.html.twig" %}

{% block title %}App:Vote:vote{% endblock %}

{% block body %}
			<a href="{{path('vote_vote', {'id' : video.id})}}">
				<img src="http://img.youtube.com/vi/{{ video.videoUrl|yt_id }}/maxresdefault.jpg">
				<h3>{{ video.author }} <br> <small>{{ video.songTitle }}</small></h3>
			</a>

{% endblock %}
