{% extends 'base.html.twig' %}
{% block title %}Elfelejtett jelszó
{% endblock %}




{% block body %}
    <div class="container user-form">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>
                    Jelszó emlékeztető elküldve
                </h3>
                <p>A megadott e-mail címre elküldtük a  jelszó visszaállításához szükséges linket, melyre kattintva megváltozatthatja a jelszavát. A link érvényességi ideje

                    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                <p>Ha nem kapott e-mailt, kérjük ellenőrizze a SPAM foldert is, vagy
                    <a href="{{ path('app_forgot_password_request') }}">próbálja újra!</a></p>
            </div>
        </div>
    </div>
{% endblock %}


