<h3>Hello!</h3>

<p>
    Jelszavadat az
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">alábbi linkre kattintva</a>
    tudod megváltoztatni. <br>



    A link érvényességi ideje
    60 perc.


</p>

<p>
    Üdv: <br>
    A szervezők

</p>
