{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Új jelszó megadása</h3>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Beállítás</button>
                {{ form_end(resetForm) }}

            </div>
        </div>
    </div>
{% endblock %}
