<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link href="{{ app.request.getSchemeAndHttpHost() }}/styles/styles.css" type="text/css" rel="stylesheet" media="all"/>
        {% endblock %}
    </head>
<body class="{% block bodyclass %}blank{% endblock %}">


    {% block body %}{% endblock %}

</body>
</html>